@mixin logoefect{
  &:link{
    box-shadow: inset 1px 2px 0 rgba(0, 1, 1, 0.33);
    background-image: linear-gradient(-4deg, #000101 0%, #a6a6a6 100%);
  }
   &:hover{
        opacity: 0.8;
    }
    &:active{
        opacity: 0.3;
    }
}
@mixin links{
    font: {
        family:'Roboto';
        size:16px;
        weight:500;
}
}
@mixin linkefekt{
    &:hover{
        color:$btnred;
    }
    &:active{
      color: #000000;
       opacity: 0.3;  
    }
}
@mixin slaidtitle{
   font: {
       family:'Roboto';
       size: 52px;
       weight:500;
   }
}
@mixin slaidtext{
    font: {
        family:'Roboto';
        size: 16px;
        weight:400;
        }
    color: #283136;
}
@mixin btnred{
    &:link{
       background-color: $btnred;
    }
    &:hover{
        background-color: #e74246;
    }
    &:active{
        background-color: #d7373b;
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
        color: $white;
        opacity: 0.3;
    }
}
@mixin btngreen{
     &:link {
       background-color:$btngreen;
     }
    &:hover {
       background-color: #00bc6c;
     }
    &:active {
      background-color :#00aa62;
      box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
      color: $white;
      opacity: 0.3;
     }
}
@mixin btnyellow{
  &:link{
    background-color: $btnyeelow;
  }
  &:hover{
    background-color: #eab534;
  }
  &:active{
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
    color: $white;
    opacity: 0.3;
  }
}
@mixin desc ($size,$weight){
font: {
    family:'Roboto';
    
}
}
@mixin textbtn ($size,$weight){
font: {
    family:'Roboto';
}
font-size:$size;
color:$white;
}
@mixin text($size,$weight){
    font: {
        family:$fontfamily;
    }
}

