
body{
    margin: 0 auto;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}
li{
    list-style: none;
}
header{
	height: 545px;
    background-color: #eeeeee;
}
.slider{
  	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}
.slider-controls__label:hover,
#slider-wrap1:checked ~ .slider-controls label:nth-of-type(1),
#slider-wrap2:checked ~ .slider-controls label:nth-of-type(2),
#slider-wrap3:checked ~ .slider-controls label:nth-of-type(3){
    background: url(../img/active.png) no-repeat 50% 50%  ;
}
.slides{
    height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slider-wrap1:checked ~ .slider > .slider-wrap1,
#slider-wrap2:checked ~ .slider > .slider-wrap2,
#slider-wrap3:checked ~ .slider > .slider-wrap3{
    opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.description{
	display: flex;
	padding-bottom: 80px;
}
.line--bg{
border-bottom: 2px solid #eeeeee;

}







