.description-info {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-right: 100px;
  width: 300px;
&__title{
  margin-top: 20px;
  text-align:left;
  text-transform: uppercase;
  @include desc ;
}
&__item{
     @include slaidtext;
    margin-top: 3px;  
    text-align: left;
    color: #283136;
     width: 244px;
     line-height: 24px;
}
}
.btn{
  display: inline-block;
  vertical-align: top;
  &--red {
  @include btnred;
  @include textbtn(16px, 500);
  width: 160px;
  padding: 10px 0 10px 0;
  border: none;
  background: #fb565a;
  color: $white;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  }
&--green {
    width: 160px;
    padding: 10px 0 10px 0;
    border: none;
    background: #00ca74;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
    @include textbtn(16px, 500);
    @include btngreen;
    text-transform: uppercase;
}
&--yellow{
    width:160px;
    padding: 10px 0 10px 0;
    border: none;
    background: #efc84a;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
    @include btnyellow;
    @include textbtn(16px, 500);
    text-transform: uppercase;
  }
}
