.footer-socials{
display: flex;


}
.footer-slogan{
display: flex;
   &__text{
       @include info(36px,700);
       line-height: 36px;
    margin-left: 400px;
    margin-top:120px;
}

}
.footer-subtitle{
    @include info(16px, 400);
color: #444444;

    line-height: 22px;
    text-align: center;
margin-top: -48px;
    
}
