.header-nav{
    display: flex;
    flex-wrap: wrap;
    width:1160px;
&__logo{
    margin-top: 49px;
    cursor: pointer;
    } 
&__logo-pic{

    @include logoefect;
    }
&__list{
    display: flex; 
    margin-top: 80px;
    width: 440px;
    margin-right: 00px;
    margin-left: 110px;
    }
&__link{
    text-decoration: none;
    text-transform: uppercase;
    @include links;
    color:$black;
    margin-left: 50px;
    cursor: pointer;
    @include linkefekt;
    }
&__link--active{
    text-decoration: none;
    text-transform: $transform;
    @include links;
    color:$black;
    margin-left: 50px;
    @include linkefekt;
    border-bottom: 2px solid red;
    }
&__basket{
    margin-top: 80px;
    padding-left: 300px;
    }
&__basket-icon{
    margin-right: -5px;  
    }
&__basket-text{
    text-decoration: none;
    text-transform: uppercase;
    @include links;
    color:$black;
    padding-left: 20px;
    @include linkefekt;
    }
}