.slider-wrap1{
    display: flex;
    flex-direction:column ;
    position: relative;
    margin-top:0px;  
    height: 420px;
&__title{
    width: 378px;
    color:$black;
    @include slaidtitle;
    margin-top: 40px;
}
&__desc{
    display: flex;
    flex-wrap: wrap;
    @include slaidtext;
    line-height: 24px;
    margin-top: -18px;
}
&__pic1{
    display: flex;
    justify-content: flex-end;
    margin-top:-292px;
}
&__learn-more{
    display: inline-block;
    width: 240px;
    padding: 19px 0 19px 0;
    border: none;
    background-color: $btnred;
    text-transform: $transform;
    border-radius: 2px;
    color: $white;
    @include links;
    cursor: pointer;
    position: relative;
    margin-top: 22px;
    @include btnred;
}
}