.slider-controls{
    display: flex;
    position: absolute;
    margin-left: -50px;
    left: 50%;
&__input{
    display: none;
    }
&__label{
    cursor: pointer;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 17px;
    position: relative;
    border: 8px solid #fff;
    border-radius: 50%;
    top:-130px;
    z-index: 1000;
    -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
   }
}

